@import url(https://fonts.googleapis.com/css?family=Outfit:regular,700);
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;   
    color: #7D889E;
}
h1 {
    font-size: 0;
}
main {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 320px;
    min-height: 497px;
    background-color: #fff;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    border-radius: 20px;
    text-align: center;
    padding: 16px 16px 40px;
}
.code {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    background-image: url(../images/image-qr-code.png);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 24px;
}
.content {
    width: 288px;
    margin: 0 auto;
}
.title {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #1f314f;  
}
.text {
    width: 256px;
    margin: 0 auto;
}

